<section class="mb-5">
    <div class="card">
        <div class="card-body">
        <h3>About</h3>
            <div class="d-flex mb-4">
                <!-- Parent comment-->
                <div class="flex-shrink-0"><img class="rounded-circle"
                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                    <div class="fw-bold"><%=profile.is_seller ? Seller.find(profile.user_id).name : User.find(profile.user_id).name%></div>
                    <%= profile.working_field%>
                </div>
            </div>
            <!-- Single comment-->
            <div class="d-flex">
                <div class="ms-3">
                    <div class="fw-bold">Bio</div>
                    <%= profile.bio%>
                </div>
            </div>
        </div>
    </div>
</section>