                               <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Make request</div>
                    <div class="card-body">
                        <p>Starting at : <%= post.starting_price%>$</p>
                        <% if user_signed_in? != false%>
                        <a class="btn btn-primary" href="<%= new_post_path(current_user.id,"user",profile.user_id) %>">Continue</a>
                        <% else %>
                        <p>Sign In to make request</p>
                        <% end %>
                    </div>
                </div>