                               <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Make request</div>
                    <div class="card-body">
                        <p>Starting at : <%= post.starting_price%>$</p>
                        <button type="button" class="btn btn-primary" href="<%= job_request_path(profile.user_id)%>">Continue</button>
                    </div>
                </div>