                               <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Make Offer</div>
                    <div class="card-body">
                    <%= render "offers/form", {offer: @offer, post: post} %>
                    </div>
                </div>